/* 1. Universal Selector */
*{
    padding: 0;
    margin: 0;
}

/* 2. Element Selector (Tag Selector) */
h1{
    color: red;
}

/* 3. Class Selector */
.one{
    font-size: 48px;
}

/* 4. ID Selector */
#idSelect{
    background-color: aqua;
}

/* 5. Grouping Selector */
h5, h6{
    color: blue;
    font-size: 18px;
}

/* 6. Attribute  */
input[type=text]{
    padding: 6px;
    font-weight: 700;
    color: red;
}

/* 7. Pseudo class  */
a:hover{
    color: rgb(207, 240, 60);
}
a:focus{
    color: red;
}
a:active{
    color: green;
}
a:checked{
    color: rgb(213, 19, 165);
}

/* 8. Pseudo Element  */
p::first-letter{
    font-size: 50px;
    color: deeppink;
}

p::first-line{
    color: red;
}
